@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

.navbar {
  background-color: transparent;
  /* background-color: yellow; */
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  z-index: 100;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item-first {
  margin-left: 1%;
}

.nav-item {
  margin-left: 5%;
}

.nav-link {
  color: white;
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
}
