@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

.project-main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.project {
  padding-top: 8%;
  padding-bottom: 5%;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.4vw;
}

.custom-carousel-container {
  width: 100%;
  margin: 0 auto;
}

.custom-carousel {
  padding: 20px;
}

.carousel-item-div {
  background-color: transparent;
  height: 50vh;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-item-content {
  background-color: transparent;
  height: 50vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-image-code {
  height: 90%;
  width: 30%;
  border-radius: 15px;
  object-fit:contain;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-image {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 15px;
  object-fit:contain;
  transition-duration: 500ms;
  z-index: 10;
}

.code-button {
  position: absolute;
  color: #FF5001;
  border: 2px solid #FF5001;
  height: 10%;
  width: 10%;
  z-index: 11;
  opacity: 0%;
  border-radius: 15px;
  transition-duration: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6vw;
}

.experience-company-role {
  height: 90%;
  width: 30%;
  border-radius: 15px;
  object-fit:contain;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.experience-company {
  font-family: "Judson", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3.2vw;
}

.experience-role {
  padding-bottom: 10%;
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
}

.experience-duration {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3vw;
}

.experience-info {
  height: 90%;
  width: 70%;
  flex-grow: 3;
  margin-left: 2%;
  display: flex;
  text-align:justify;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  z-index: 10;
}

.experience-desc {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4vw;
}

.project-image-code:hover .project-image{
  opacity: 70%;
}

.project-image-code:hover .code-button {
  opacity: 100%;
  z-index: 11;
}

.code-button:hover {
  color: white;
  background-color: #FF5001;
}
